Source: hashstack-agent-plugin-cudahashcat
Maintainer: Jeremi Gosney <jgosney@sagitta.pw>
Section: misc
Priority: important
Standards-Version: 3.9.2
Build-Depends: p7zip-full, make 

Package: hashstack-agent-plugin-cudahashcat
Architecture: amd64
Depends: libc6 (>= 2.3.4), hashstack-agent, hashstack-nvidia-driver, hashstack-nvidia-driver-uvm
Description: cudaHashcat agent plugin for Hashstack
 The cudaHashcat agent plugin for Hashstack

